<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Famazon</h5>
        <p>Your one-stop shop for all your needs.</p>
      </div>

      
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a class="text-light text-decoration-none" routerLink="/home">Home</a></li>
          <li><a class="text-light text-decoration-none" routerLink="/about">About us</a></li>
          <li><a class="text-light text-decoration-none" routerLink="/products">Products</a></li>
          <li><a class="text-light text-decoration-none" routerLink="/cart">Cart</a></li>
        </ul>
      </div>

      
      <div class="col-md-4 mb-3">
        <h5 class="text-uppercase">Contact Us</h5>
        <ul class="list-unstyled">
          <li>Email: support&#64;famazon.com</li>
          <li>Phone: +123 456 7890</li>
          <li>Address: 123 Famazon St, Online City</li>
        </ul>
      </div>
    </div>

    <div class="text-center py-3">
      <p>&copy; 2024 Famazon - All rights reserved.</p>
    </div>
  </div>
</footer>
