
<div class="nav-wrapper">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="#">Famazon</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-menu collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">Cart</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>