

  <div class="card m-5 p-3 d-flex flex-column align-items-center style-card"  [ngClass]="{ 'img-shadow': isAddedToCart }">
    <img [src]="product.profileImageUrl" class="card-img-top mb-3 img-style" [alt]="product.productName">
    <div class="card-body mb-3">
      <h5 class="card-title"><strong>Model:</strong> {{product.productName}}</h5>
      <p class="card-text"><strong>Brand:</strong> {{product.brand}}</p>
      <p class="card-text"><strong>Description:</strong> {{product.description}}</p>
      <p class="card-text"><strong>Extra:</strong> {{product.features}}</p>
      <p class="card-text"><strong>Price:</strong> {{product.price | currency:"Euro"}}</p>      
    </div>
    <button
      (click)="addToCart()"
      class="btn"
      [ngClass]="{'button-buy': product.available, 'button-na': !product.available}"  
      [disabled]="!product.available">      
      {{ product.available ? 'I BUY IT' : 'Not Available' }}  
    </button>
  </div>

