.table {
  border-collapse: collapse;  
}

.table th, .table td {
  border: 1px solid black;  
  padding: 8px;   
  text-align: center;          
}

.table td {
  text-align: center;
  align-items: center;  
  font-weight: 500;
}

.table img {
  vertical-align: middle;  
  margin-right: 10px;      
}
